[hyperparams]
model_name_str = MACM_rep
batch_size = 128
vocab_size = 400002
emb_size = 300
hidden_size = 128
dropout = 0.0
q_filt1 = 3
q_filt2 = 5
q_filt3 = 9
q_stride1 = 1
q_stride2 = 1
q_stride3 = 1
d_filt1 = 3
d_filt2 = 10
d_filt3 = 198
d_stride1 = 1
d_stride2 = 5
d_stride3 = 1
Mtopk = 5
preemb = True
preemb_path = /path/to/pretrained_embeddgins
sim_type = Cos
hinge_margin = 1.0
train_datablock_size = 100
q_sample_size = 300
docpair_sample_size = 50
n_epoch = 50
alpha = 1e-5
learning_rate = 1e-3
q_len = 15
d_len = 1000
data_base_path = /path/to/training_data
model_base_path = /path/to/model_folder
